In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Here we are formatting the salary data
df1 = pd.read_csv("salaries_1985to2018.csv")
df1["team"] = df1["team"].str.split().str[-1]
df1['season'] = df1['season'].str[:4]
df1["season"] = pd.to_numeric(df1["season"], downcast="float")
df1["team"] = df1["team"].str.replace("SuperSonics","Thunder")
df1["team"] = df1["team"].str.replace("Bullets","Wizards")
df1["team"] = df1["team"].str.replace("Bobcats","C_Hornets")
for row in df1[(df1.season>=1988)][(df1.season<=2002)][df1.team=="Hornets"].iterrows():
  df1.loc[row[0],"team"] = "C_Hornets"
df1["team"] = df1["team"].str.replace("Hornets","Pelicans")
df1 = df1.drop(["season_end","season_start"], axis=1)
df1 = df1.sort_values(["team","season"],ascending=True)
df1 = df1.dropna()
df1 = df1.drop(["player_id","league"], axis=1)

#Now we calculate the total salary for each team
years_groups = df1.groupby("season")
salarylist = {season: [] for season in df1["season"].unique()}
for name, season in years_groups:
  for team in df1["team"].unique():
    salarylist[name].append({team:season[season["team"] == team]["salary"].sum()})

#We now make a new dataframe that will be our set of interest
df_1=pd.DataFrame(columns=["Year","Team","Total_Salary"])
for year in salarylist:
  for d in salarylist[year]:
    new_dict = {}
    new_dict["Year"] = year
    new_dict["Team"] = list(d.keys())[0]
    new_dict["Total_Salary"] = d[list(d.keys())[0]]
    df_1 = df_1.append(new_dict,ignore_index=True)

#Finally, we clean it up a bit
df_1 = df_1.sort_values(["Team","Year"],ascending=True)
df_1.drop(df_1[df_1.Year > 2015].index, inplace=True)
# team_groups = df_1.groupby("Team")
# print(team_groups.get_group("Pelicans"))
print(len(df_1))
df_1.head(20)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

960

       Year   Team Total_Salary
0    1984.0  76ers      5615000
30   1985.0  76ers      6825500
60   1986.0  76ers      1210000
90   1987.0  76ers      6197183
120  1988.0  76ers      6386833
150  1989.0  76ers      4700000
180  1990.0  76ers     11640000
210  1991.0  76ers     14058000
240  1992.0  76ers     17367000
270  1993.0  76ers     15354000
300  1994.0  76ers     19709510
330  1995.0  76ers     17408000
360  1996.0  76ers     20369500
390  1997.0  76ers     28620520
420  1998.0  76ers     41509920
450  1999.0  76ers     43890593
480  2000.0  76ers     50718489
510  2001.0  76ers     58073366
540  2002.0  76ers     64473029
570  2003.0  76ers     59847400

In [ ]:
#Formatting the playoff data
df2 = pd.read_csv("seasons_finished.csv")
df2.columns = ["position1", "Position", "Team", "W", "L", "Pct", "GB", 
"nothing", "Conference", "Year"]
df2 = df2.drop(["position1","Pct","nothing","W","L"], axis=1)
df2 = df2.drop([0])
df2["Team"] = df2["Team"].str.split().str[-1]
df2 = df2.sort_values(["Team","Year"], ascending=True)
df2["Year"] = df2["Year"].str[:4]
df2["Position"] = pd.to_numeric(df2["Position"], downcast="float")
df2["Year"] = pd.to_numeric(df2["Year"], downcast="float")
df2['GB'] = df2['GB'].str.replace('-','0.0')

#Creating the new column where a 1 is an indicator whether a team made the 
#playoffs that season and then repositioning it in the dataframe
df2["dummy_for_playoffs"] = 0
df2.loc[df2.Position<=8,"dummy_for_playoffs"] = 1
df2["dummy_for_conference"] = 0
df2.loc[df2.Conference=="Western","dummy_for_conference"] = 1
df2 = df2.drop(["Conference"],axis=1)
cols = df2.columns.tolist()
cols = cols[-1:] + cols[:-1]
df2 = df2[cols]

#Replacing team names
df2["Team"] = df2["Team"].str.replace("Supersonics","Thunder")
df2["Team"] = df2["Team"].str.replace("Bullets","Wizards")
df2["Team"] = df2["Team"].str.replace("Bobcats","C_Hornets")
for row in df2[(df2.Year>=1988)][(df2.Year<=2002)][df2.Team=="Hornets"].iterrows():
  df2.loc[row[0],"Team"] = "C_Hornets"
df2["Team"] = df2["Team"].str.replace("Hornets","Pelicans")

print(len(df2))
df2.head(40)

963

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

     dummy_for_conference  Position     Team    GB    Year  dummy_for_playoffs
16                      0       3.0    76ers   5.0  1984.0                   1
41                      0       3.0    76ers  13.0  1985.0                   1
68                      0       5.0    76ers  14.0  1986.0                   1
98                      0      10.0    76ers  21.0  1987.0                   0
121                     0       7.0    76ers  17.0  1988.0                   1
144                     0       2.0    76ers   6.0  1989.0                   1
176                     0       5.0    76ers  17.0  1990.0                   1
209                     0      10.0    76ers  32.0  1991.0                   0
241                     0      13.0    76ers  34.0  1992.0                   0
268                     0      11.0    76ers  32.0  1993.0                   0
299                     0      13.0    76ers  33.0  1994.0                   0
331                     0      15.0    76ers  54.0  1995.0                   0
361                     0      14.0    76ers  47.0  1996.0                   0
392                     0      14.0    76ers  31.0  1997.0                   0
415                     0       6.0    76ers   5.0  1998.0                   1
444                     0       4.0    76ers   7.0  1999.0                   1
472                     0       1.0    76ers   0.0  2000.0                   1
508                     0       6.0    76ers   9.0  2001.0                   1
537                     0       4.0    76ers   2.0  2002.0                   1
575                     0      11.0    76ers  28.0  2003.0                   0
603                     0       7.0    76ers  16.0  2004.0                   1
637                     0       9.0    76ers  26.0  2005.0                   0
670                     0      10.0    76ers  18.0  2006.0                   0
699                     0       7.0    76ers  26.0  2007.0                   1
730                     0       6.0    76ers  25.0  2008.0                   1
769                     0      13.0    76ers  34.0  2009.0                   0
795                     0       7.0    76ers  21.0  2010.0                   1
828                     0       8.0    76ers  15.0  2011.0                   1
861                     0       9.0    76ers  32.0  2012.0                   0
898                     0      14.0    76ers  37.0  2013.0                   0
930                     0      14.0    76ers  42.0  2014.0                   0
963                     0      15.0    76ers  47.0  2015.0                   0
5                       1       5.0  Blazers  20.0  1984.0                   1
31                      1       6.0  Blazers  22.0  1985.0                   1
53                      1       3.0  Blazers  16.0  1986.0                   1
79                      1       4.0  Blazers   9.0  1987.0                   1
108                     1       8.0  Blazers  18.0  1988.0                   1
130                     1       3.0  Blazers   4.0  1989.0                   1
157                     1       1.0  Blazers   0.0  1990.0                   1
186                     1       1.0  Blazers   0.0  1991.0                   1

In [ ]:
#Formatting the winning percentage data
df3 = pd.read_csv("NBA_Records_and_Winning_Percentage.csv")
df3 = df3.fillna(0.0)
df3 = df3.drop(["Record","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 7",
                "Unnamed: 8","Unnamed: 9"],axis=1)
df3['Year'] = df3['Year'].str[:4]
df3["Year"] = pd.to_numeric(df3["Year"], downcast="float")
df3.drop(df3[df3.Year < 1983].index, inplace=True)
df3["Team"] = df3["Team"].str.split().str[-1]
df3 = df3.sort_values(["Team", "Year"],ascending=True)
df3.columns = ["Year","Team","Future Win %"]

#Taking care of the team names
df3["Team"] = df3["Team"].str.replace("Supersonics","Thunder")
df3["Team"] = df3["Team"].str.replace("Bullets","Wizards")
df3["Team"] = df3["Team"].str.replace("Bobcats","C_Hornets")
for row in df3[(df3.Year>=1988)][(df3.Year<=2002)][df3.Team=="Hornets"].iterrows():
  df3.loc[row[0],"Team"] = "C_Hornets"
# df3["Team"] = df3["Team"].str.replace("Hornets","Pelicans")

# df3["Team"] = df3["Team"].str
team_groups = df3.groupby("Team")
print(team_groups.get_group("C_Hornets"))
# print(team_groups.get_group("Hornets"))
print(len(df3))
# df3.head(40)
# df3.to_csv("Cleaned_Winning_%.csv")

       Year       Team  Future Win %
192  2004.0  C_Hornets         0.220
191  2005.0  C_Hornets         0.317
190  2006.0  C_Hornets         0.402
189  2007.0  C_Hornets         0.390
188  2008.0  C_Hornets         0.427
187  2009.0  C_Hornets         0.537
186  2010.0  C_Hornets         0.415
185  2011.0  C_Hornets         0.106
184  2012.0  C_Hornets         0.256
183  2013.0  C_Hornets         0.524
953

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [ ]:
#Formatting the draft pick data
df4 = pd.read_csv("1976_to_2015_Draftees_edit2.csv")

#We must first change the 3-letter abbreviations to the names of the teams
list1 = ["GSW","NYK","NOH","LAL","LAC","DEN","CHA",
         "UTA","CHI","CLE","DAL","DET","HOU","IND","MIN","MEM",
         "MIL","MIA","NOP","OKC","ORL","PHI","POR","SAC","BKN",
         "TOR","SAS","PHX","WSH","NJN","WAS","BOS","PHO","ATL"]
list2 = ["Warriors","Knicks","Pelicans","Lakers","Clippers","Nuggets",
         "C_Hornets","Jazz","Bulls","Cavaliers","Mavericks","Pistons",
         "Rockets","Pacers","Timberwolves","Grizzlies","Bucks",
         "Heat","Pelicans","Thunder","Magic","76ers","Blazers","Kings",
         "Nets","Raptors","Spurs","Suns","Wizards","Nets","Wizards",
         "Celtics","Suns","Hawks"]
df4 = df4.drop(["Player","All_NBA","All.Star","College",
        "Yrs","Games","Minutes.Played","PTS","TRB","AST",
        "FG_Percentage","TP_Percentage","FT_Percentage",
        "Minutes.per.Game","Points.per.Game","TRB.per.game",
        "Assits.per.Game","Win.Share","WS_per_game","BPM",
        "VORP","Executive","Tenure","Exec_ID","Exec_draft_exp",
        "attend_college","first_year","second_year","third_year",
        "fourth_year","fifth_year","Unnamed: 0"],axis=1)
for (i,j) in zip(list1,list2):
  df4["Team"] = df4["Team"].str.replace(i,j)

#We now format the data
df4["Draft_Yr"] = pd.to_numeric(df4["Draft_Yr"], downcast="float")
df4.drop(df4[df4.Draft_Yr < 1984].index, inplace=True)
df4["Pk"] = pd.to_numeric(df4["Pk"],downcast="float")
df4.drop(df4[df4.Pk > 30].index,inplace=True)
df4 = df4.sort_values(["Team","Draft_Yr","Pk"],ascending=True)
df4.columns = ["Year","Pick","Team"]
for row in df4[(df4.Year>=1988)][(df4.Year<=2002)][df4.Team=="Pelicans"].iterrows():
  df4.loc[row[0],"Team"] = "C_Hornets"
# team_groups = df4.groupby("Team")
# print(team_groups.get_group("Lakers"))
print(len(df4))
df4.head(40)

959

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

        Year  Pick     Team
2993  1984.0   5.0    76ers
2994  1984.0  10.0    76ers
2995  1984.0  22.0    76ers
3005  1985.0  21.0    76ers
2377  1987.0  16.0    76ers
2386  1988.0   3.0    76ers
2389  1989.0  19.0    76ers
2170  1992.0   9.0    76ers
2171  1993.0   2.0    76ers
2373  1994.0   6.0    76ers
2374  1994.0  20.0    76ers
2376  1995.0   3.0    76ers
627   1996.0   1.0    76ers
2548  1997.0   2.0    76ers
251   1998.0   8.0    76ers
254   2000.0  20.0    76ers
256   2001.0  26.0    76ers
260   2002.0  16.0    76ers
262   2004.0   9.0    76ers
264   2006.0  13.0    76ers
265   2007.0  12.0    76ers
266   2007.0  21.0    76ers
267   2007.0  30.0    76ers
1272  2008.0  16.0    76ers
1273  2009.0  17.0    76ers
1274  2010.0   2.0    76ers
3519  2011.0  16.0    76ers
3521  2012.0  15.0    76ers
3549  2013.0  11.0    76ers
3551  2014.0   3.0    76ers
3552  2014.0  10.0    76ers
3558  2015.0   3.0    76ers
3763  1984.0   2.0  Blazers
3764  1984.0  19.0  Blazers
3765  1984.0  26.0  Blazers
3776  1985.0  24.0  Blazers
3777  1985.0  25.0  Blazers
661   1986.0  14.0  Blazers
669   1987.0  17.0  Blazers
670   1987.0  29.0  Blazers

In [ ]:
#This is the last step. Here we join the separate dataframes into one dataset.
df = pd.merge(df_1, df2, on=['Year','Team'],how="left")
df = pd.merge(df, df3, on=["Year","Team"],how="left")
df = pd.merge(df, df4, on=["Year","Team"],how="left")
df = df.fillna(0.0)
df.head(50)

#CSV output file
df.to_csv("Cleaned_data_Econ_488_F.csv")