In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver

In [2]:
def clean_data(tables):
    df1 = pd.read_html(str(tables[0]))[0]
    df2 = pd.read_html(str(tables[1]))[0]
    df1['Conference'] = 'Western'
    df2['Conference'] = 'Eastern'
    df = pd.concat([df1,df2])
    return df

In [3]:
years = ["1984_1985","1985_1986","1986_1987","1987_1988","1988_1989","1989_1990","1990_1991","1991_1992","1992_1993","1993_1994","1994_1995","1995_1996","1996_1997",
        "1997_1998","1998_1999","1999_2000","2000_2001","2001_2002","2002_2003","2003_2004","2004_2005","2005_2006","2006_2007","2007_2008","2008_2009","2009_2010",
        "2010_2011","2011_2012","2012_2013","2013_2014","2014_2015","2015_2016"]

list_of_df = []
for i in years:
    url = "https://www.landofbasketball.com/yearbyyear/" + str(i) + "_standings.htm"
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    tables = soup.find_all('table')
    df = clean_data(tables)
    df['Year'] = str(i)
    list_of_df.append(df)
    tables = 0
    
finished = pd.concat(list_of_df)
# finished.to_csv("seasons_finished.csv")

In [7]:
finished.head(20)

,0,1,2,3,4,5,6,Conference,Year
0,NaN,Team,W,L,Pct,GB,NaN,Western,1984_1985
1,1.0,Los Angeles Lakers,62,20,.756,-,x,Western,1984_1985
2,2.0,Denver Nuggets,52,30,.634,10.0,x,Western,1984_1985
3,3.0,Houston Rockets,48,34,.585,14.0,x,Western,1984_1985
4,4.0,Dallas Mavericks,44,38,.537,18.0,x,Western,1984_1985
5,5.0,Portland Trail Blazers,42,40,.512,20.0,x,Western,1984_1985
6,6.0,Utah Jazz,41,41,.500,21.0,x,Western,1984_1985
7,7.0,San Antonio Spurs,41,41,.500,21.0,x,Western,1984_1985
8,8.0,Phoenix Suns,36,46,.439,26.0,x,Western,1984_1985
9,9.0,Kansas City Kings,31,51,.378,31.0,NaN,Western,1984_1985
10,10.0,Seattle Supersonics,31,51,.378,31.0,NaN,Western,1984_1985
11,11.0,Los Angeles Clippers,31,51,.378,31.0,NaN,Western,1984_1985
12,12.0,Golden State Warriors,22,60,.268,40.0,NaN,Western,1984_1985
0,NaN,Team,W,L,Pct,GB,NaN,Eastern,1984_1985
1,1.0,Boston Celtics,63,19,.768,-,x,Eastern,1984_1985
2,2.0,Milwaukee Bucks,59,23,.720,4.0,x,Eastern,1984_1985
3,3.0,Philadelphia 76ers,58,24,.707,5.0,x,Eastern,1984_1985
4,4.0,Detroit Pistons,46,36,.561,17.0,x,Eastern,1984_1985
5,5.0,New Jersey Nets,42,40,.512,21.0,x,Eastern,1984_1985
6,6.0,Washington Bullets,40,42,.488,23.0,x,Eastern,1984_1985